@import "assets/fonts/fonts.css";
body {
	padding: 0;
	margin: 0;
}
.wrapper {
	width: 100%;
	max-width: 1020px;
	box-sizing: border-box;
	 margin: 0 auto;
}
.aboutus {
	border-bottom:6px solid #ffffff;
	height: 728px;
	background-color: #f2f2f2;
    padding: 52px 39px;
}
.aboutus__title {
	font-size: 30px;
    line-height: 18px;
color: #666d89;
font-family: "Lato";
font-weight: 900;
text-align: left;
letter-spacing: 1px;
padding-bottom: 5px;
}
.aboutus__subtitle {
font-size: 18px;
line-height: 30px;
color: #767e9e;
font-family: "Lato";
font-weight: 300;
text-align: left;
letter-spacing: 0.6px;
word-spacing: 1px;
margin-bottom: 4px;
}
.layout__title {
font-size: 18px;
line-height: 22px;
color: #666d89;
font-family: "Lato";
font-weight: 900;
text-align: left;
letter-spacing: 0.4px;
}
.layout__subtitle {
width: 300px;
font-size: 12px;
line-height: 22px;
color: #767e9e;
font-family: "Lato";
font-weight: 400;
text-align: left;
padding-bottom: 15px;
margin-bottom: 5px;
margin-top: -6px;
}
.layout-3-column {
	display: flex;
	flex-direction: row;
	/*flex-wrap: wrap;*/
	justify-content: space-between;
}
.layout__inner {
	width: 30%;
}
.aboutus__subtitle{
	padding-bottom: 47px;
}

.icons {
width: 37px;
height: 37px;
margin-right: 2px;
}
.layout__photo img{
	width:320px;
	height: 320px;
	margin-right: 18px;
	margin-bottom: -4px;
}

/*portfolio*/
.portfolio {
	height: 924px;
background-color: #2d303a;
border-bottom: 6px solid #323746;
}
.layout-4-columns {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-row-gap: 18px;
	margin-top: 22px;
	width: 1020px;
}

.layout__inner1 {
	width: 235px;
    height: 200px;
    background-image: url(./assets/img2/layer1.png);
    background-position: top;
}
    .layout__inner2 {
	width: 235px;
    height: 200px;
    background-image: url(./assets/img2/Layer2.png);
    background-position: center;
}

.layout__inner3 {
	width: 235px;
    height: 200px;
    background-image: url(./assets/img2/layer3.png);
    background-position: top;
}

.layout__inner4 {
	width: 235px;
    height: 200px;
    background-image: url(./assets/img2/layer4.png);
    background-position: center;
}
.layout__inner5 {
	width: 235px;
    height: 200px;
    background-image: url(./assets/img2/layer5.png);
    background-position: center;
}
.layout__inner6 {
	width: 235px;
    height: 200px;
    background-image: url(./assets/img2/layer6.png);
    background-position: center;
}
.layout__inner7 {
	width: 235px;
    height: 200px;
    background-image: url(./assets/img2/layer7.png);
    background-position: center;
}
.layout__inner8 {
	width: 235px;
    height: 200px;
    background-image: url(./assets/img2/layer8.png);
    background-position: center;
}
.layout__inner9 {
	width: 235px;
    height: 200px;
    background-image: url(./assets/img2/layer9.png);
    background-position: center;
}

.layout__inner10 {
	width: 235px;
    height: 200px;
    background-image: url(./assets/img2/layer10.png);
    background-position: top 22% center;
}

.layout__inner11 {
	width: 235px;
    height: 202px;
    background-image: url(./assets/img2/layer11.png);
    background-position: center;
}

.layout__inner12 {
	width: 235px;
    height: 202px;
    background-image: url(./assets/img2/layer12.png);
    background-position: bottom;
}

.portfolio__title {
font-size: 32px;
line-height: 18px;
color: #666d89;
font-family: "Lato";
font-weight: 900;
text-align: left;
padding-top: 75px;
}
.portfolio__subtitle {
	width: 940px;
/*height: 57px;*/
font-size: 20px;
line-height: 30px;
color: #767e9e;
font-family: "Lato";
font-weight: 300;
text-align: left;
padding-top: 5px;
letter-spacing: -0.5px;
word-spacing: 1px;
margin-bottom: -2px;
padding-bottom: 15px;

}

.portfolio_link {
font-size: 12px;
line-height: 22px;
color: #767e9e;
font-family: "Lato";
font-weight: 400;
text-align: center;
text-decoration: none;
padding: 3px 8px;
/*width: 57px;
height: 22px;*/
border-radius: 5px;

border: 1px solid #666d89;
cursor: pointer;
/*margin-bottom: 18px;*/
margin-right: 7px;
} 
.portfolio_link:hover {
	color: white;
	border: 1px solid white;

}
.portfolio_navigation {
	
}